* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
    /* --scrollbar: 20px;  */
}

.grid {
  border: 1px solid black;
  display: grid;
  height: auto;
  padding: 1rem 1rem 0rem 1rem;
  width: 100vw;
  grid-template-areas: "header" "results-container";
  grid-template-columns: 1fr;
  grid-template-rows: minmax(4rem, 7rem), 1fr;  
  /* width: calc(100vw - var(--scrollbar)); */
  /* width: 100%; */
  /* margin: 1rem; */


  /* Grid Auto Rows and Grid Auto Columns 
  grid-auto-rows specifies the height of implicitly added grid rows.
  px, %, fr, repeat()*/
  /* minmax(x, y) */
  /* auto-fit */
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  means - "Repeat as many columns that will fit on a screen. 
  Each column should be a minimum of 100px wide and a maximum of 1fr wide." */

  /* gap */
}

header, 
.logo-bar, 
.filter-search,
.results-container,
.posts,
.post,
.post-with-comments {
  padding: 0 0 0.25rem 0;
  border: 1px solid black;

}

header {

}

.logo-bar {
}

.filter-search {
}

.results-container {
  padding-bottom: 0;
}

.posts {

}

.post {

}

.post-with-comments {

}

.logo-bar img {
  max-height: 3rem;
}
