* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
} 

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(38, 38, 38);
}

.grid {
  display: grid;
  height: auto;
  width: 100vw;
  max-width: 100%;
  grid-template-areas: "header" "results-container";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  justify-content: center;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  position: fixed; 
  top: 0rem; 
  left: 0rem;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 
}

header .logo-subreddit {
  display: flex;
  gap: 2rem;
  align-items: center;
}

header .home-subreddit {
  color: rgb(61, 61, 61);
  font-size: calc(0.8rem + 0.6vh);
  font-weight: 700;
  padding: 0.15rem 0.6rem;
  border-bottom: 1.5px solid;
}

header .logo {
  height: 6vh;
  min-height: 30px;
  max-height: 2.7rem;
  vertical-align: middle;
}

header .logo, .home-subreddit {
  margin-bottom: 0.25rem;
}

header .logo:hover {
  cursor: pointer;
}



.filter-sort {
  display: flex;
  min-height: 1.7rem;
  height: 5vh;
  max-height: 2.5rem;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
}

#sort {
  background-color: #FFFFFF;
  border: 2px solid rgb(146, 183, 237);
  color: #111827;
  font-weight: 600;
  font-size: calc(0.8rem + 0.5vh);
  text-align: center;
  cursor: pointer;
  width: 6rem;
}

.filter {
  height: 100%;
  padding: 0 0.5rem 0 0.5rem;
  width: 70%;
  max-width: 30rem;
  border: 2px solid rgb(236, 88, 0, 0.6);
 }

#sort:hover {
  border: 3px solid rgb(146, 183, 237);
}

#sort:focus, .filter:focus  {
  outline: none;
}

.filter:hover, 
.filter:focus {
  border: 3px solid rgb(236, 88, 0, 0.6);
}

.results-container {  
  grid-area: results-container;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  /* This prevents vertical scrolling on mobile. 
  Underlying issue I am unable to find with the css, probably grid, results container, or posts. */
  overflow: hidden;
}

@media only screen and (min-width: 848px) {
  .posts, 
  .post-and-comments {
    width: 50rem;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 40rem) {
  .post .container .main-image,
  .post .container video,
  .post .container .external-link,
  .post-with-subreddit .container .main-image,
  .post-with-subreddit .container video,
  .post-with-subreddit .container .external-link   {
    max-width: 85%!important;
  }
}

/* homepage*/

.posts-loading, .posts-error {
  height: 40vh;
  min-height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.posts-error img {
  height: 17vh;
  max-height: 7rem;
  width: auto;
}

.comments-loading .spinner {
  border:4px solid #ffd05b;
}

.posts-loading .spinner,
.comments-loading .spinner {
  width:40px;
  height:40px;
  border:4px solid #fcd779;
  border-top:4px solid white;
  border-radius:50%;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;

  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  transition-property: transform;
  transition-duration: 1.2s;

  animation-name: rotate; 
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.posts-error p, .posts-loading p,
.comments-error p, .comments-loading p {
  font-size: 1.1rem;
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 97vw; 
  min-width: 0;
  margin-bottom: 1.5rem;
  margin-top: 1rem;  
}

.post {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255, 255, 255);
  animation: .2s linear 0s 1 fadeIn;
}

@keyframes fadeIn {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

.post .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  height: 100%; 
  padding: 1rem 0;
}

.post .container h1 {
  max-width: 93%;
  font-weight: 600;
  font-size: 1.3rem;
}

.post .container .subreddit{
  font-style: italic;
  font-size: 0.9rem;
  width: 93%;
  margin: 0 auto;
  text-align: center;
}

.post .container .main-image {
  background-color: black;
  max-width: 95%;
  max-height: 70vh;
}

.post .container video {
  background-color: black;
   max-width: 95%;
   max-height: 70vh;
   min-width: 70%;
}

.post .container .link-symbol {
  height: .9rem;
  margin-right: .4rem;
  vertical-align: middle;
  margin-bottom: .2rem;
}

.post .container .external-link {
  max-width: 93%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.post .container .external-link:hover {
  text-decoration: none;
}

.post .container .additional {
  display: flex;
  gap: 1.5rem;
  width: 93%;
  justify-content: space-around;
}

.post .container .score {
  display: flex;
  gap: 0.4rem;
}

.post .container .score img {
  filter: invert(54%) sepia(76%) saturate(6309%) hue-rotate(6deg) brightness(96%) contrast(102%);
  height: 1.6rem;
}

.post .container .time {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.post .container .time img {
  height: 1.3rem;
  filter: invert(54%) sepia(76%) saturate(6309%) hue-rotate(6deg) brightness(96%) contrast(102%);
  margin-top: 0.2rem;
}

.post .container .no-comments{
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.post .container .no-comments img{
  height: 1.35rem;
  filter: invert(54%) sepia(76%) saturate(6309%) hue-rotate(6deg) brightness(96%) contrast(102%);
  margin-top: 0.2rem;
}

/* click-through page with comments */

.post-and-comments {
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 97vw;
  margin-bottom: 1.5rem;
  background-color: rgb(255, 255, 255);
  animation: .5s linear 0s 1 fadeComments;
  margin-top: 1rem;  
 
}

@keyframes fadeComments {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

.post-with-subreddit {
  display: flex;  
  justify-content: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255, 255, 255);

}

.post-with-subreddit .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  height: 100%; 
  padding: 1rem 0;
}

.post-with-subreddit .container h1 {
  max-width: 93%;
  font-weight: 600;
  font-size: 1.3rem;
}

.post-with-subreddit .container .subreddit{
  font-style: italic;
  font-size: 0.9rem;
  width: 93%;
  margin: 0 auto;
  text-align: center;
}

.post-with-subreddit .container .main-image {
  background-color: black;
  max-width: 95%;
  max-height: 70vh;
}

.post-with-subreddit .container video {
  background-color: black;
  min-width: 70%;
  max-width: 95%;
  max-height: 70vh;
}

.post-with-subreddit .container .link-symbol {
  height: .9rem;
  margin-right: .4rem;
  vertical-align: middle;
  margin-bottom: .2rem;
}

.post-with-subreddit .container .external-link {
  max-width: 93%;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
}
.post-with-subreddit .container .external-link:hover {
  text-decoration: none;
}

.post-with-subreddit .container .additional {
  display: flex;
  gap: 1.5rem;
  width: 93%;
  justify-content: space-around;
}

.post-with-subreddit .container .score {
  display: flex;
  gap: 0.4rem;
}

.post-with-subreddit .container .score img {
  filter: invert(54%) sepia(76%) saturate(6309%) hue-rotate(6deg) brightness(96%) contrast(102%);
  height: 1.6rem;
}

.post-with-subreddit .container .time {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.post-with-subreddit .container .time img {
  height: 1.3rem;
  filter: invert(54%) sepia(76%) saturate(6309%) hue-rotate(6deg) brightness(96%) contrast(102%);
  margin-top: 0.2rem;
}

.post-with-subreddit .container .no-comments{
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.post-with-subreddit .container .no-comments img {
  height: 1.35rem;
  filter: invert(54%) sepia(76%) saturate(6309%) hue-rotate(6deg) brightness(96%) contrast(102%);
  margin-top: 0.2rem;
}

.comments, .comments-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1.5rem 0 1rem 0;
}

.comments-error img {
  height: 13vh;
  max-height: 5rem;
  width: auto;
}

.comments-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 30vh;
  max-height: 20rem;
  background-color: rgb(242, 247, 253);
}

.comments h1 {
  width: 93%;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-bottom: 1px solid rgb(146, 183, 237, 0.5);
  padding: 0 0 0.5rem 0;
  width: 93%;
}

.comment .username {
 font-size: 0.8rem;
 margin-bottom: 0.2rem;
 font-style: italic;
 margin-left: 0.1rem;
} 

.comment .text {
  padding: 0 0.4rem;
} 

.comment .text .md {
  overflow: hidden;
}

.comment .time-and-score {
  font-size: 0.8rem;
  display: flex;
  justify-content: end;
  gap: 1rem;
} 

.comment .score {
  display: flex;
  gap: 0.2rem;
} 

.comment .score img {
 height: 1.2rem;
 filter: invert(54%) sepia(76%) saturate(6309%) hue-rotate(6deg) brightness(96%) contrast(102%);
} 




